name: Release

on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    uses: SylphxAI/.github/.github/workflows/publish-npm.yml@main
    secrets: inherit
