name: Release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    uses: SylphxAI/.github/.github/workflows/release.yml@main
    with:
      prebuild: bun run build
    secrets: inherit
